@model Vidracaria_Portal.Models.Administrador.Cadastros.FerragensModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FerragensModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFerragem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFerragem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorFerragem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorFerragem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstoqueMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstoqueMaximo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstoqueMinimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstoqueMinimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoFabrica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoFabrica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodigoFerragem">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
