@model IEnumerable<Vidracaria_Portal.Models.Cliente.ContatoModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="content">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="table-responsive" style="margin-left: 20px;">
        <table class="table" style="width: 1500px;">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assunto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mensagem)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Retorno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataContato)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataRetorno)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Assunto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mensagem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Retorno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataContato)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataRetorno)
                        </td>
                        <td>
                            <a style="margin-right: 10px;" asp-action="Edit" asp-route-id="@item.CodigoContato"><i class="fas fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.CodigoContato"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
