@model IEnumerable<Vidracaria_Portal.Models.Cliente.ContatoModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Retorno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataContato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRetorno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Retorno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataContato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRetorno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoContato">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoContato">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoContato">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
