@model X.PagedList.IPagedList<Vidracaria_Portal.Models.Cliente.ContatoModel>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Listagem";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

@section Styles{
    <style>
        .wrap {
            text-overflow: ellipsis;
            /* Required for text-overflow to do anything */
            white-space: nowrap;
            overflow: hidden;
            width: 100px;
            max-width: 100px;
        }

        .fa-reply-all {
            font-size: 18px;
            color: #6b6301;
        }
    </style>
}

<div class="content">
    <div class="row" style="margin-bottom: 15px; padding-left: 5px;">
        <div class="col-md-12">
            <form asp-controller="Contatos" asp-action="Index" method="get" style="margin-top: 12px;">
                <input style=" border: 1px solid #00008B;" type="text" class="form-control" value="@ViewData["Filtro"]"
                       placeholder="Pesquisar" name="pesquisa" aria-label="" aria-describedby="basic-addon1" />
                <div class="input-group-append" style="margin-top: 12px;">
                    <button class="btn btn-outline-dark" type="submit">Pesquisar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive" style="margin-left: 20px;">
        <table class="table" style="width: 1500px;">
            <thead class="table-dark">
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        E-mail
                    </th>
                    <th>
                        Assunto
                    </th>
                    <th>
                        Mensagem
                    </th>
                    <th>
                        Retorno
                    </th>
                    <th>
                        Data Contato
                    </th>
                    <th>
                        Data retorno
                    </th>
                    <th>Operações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Assunto)
                        </td>
                        <td>
                            <div class="wrap">
                                @Html.DisplayFor(modelItem => item.Mensagem)
                            </div>
                        </td>
                        <td>
                            <div class="wrap">
                                @Html.DisplayFor(modelItem => item.Retorno)
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataContato)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataRetorno)
                        </td>
                        <td>
                            <a style="margin-right: 10px;" asp-action="Edit" asp-route-id="@item.CodigoContato"><i class="fas fa-reply-all"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.CodigoContato"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="margin-top: 20px;">
        @Html.PagedListPager(Model, pagina => Url.Action("Index", new { filtro = ViewData["Filtro"], pagina }),
               new X.PagedList.Web.Common.PagedListRenderOptionsBase
               {
                   DisplayLinkToFirstPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
                   DisplayLinkToLastPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
                   DisplayLinkToNextPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
                   DisplayLinkToPreviousPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
                   ContainerDivClasses = new[] { "pagination-container" },
                   UlElementClasses = new string[] { "pagination justify-content-center" },
                   LiElementClasses = new string[] { "page-item" },
                   PageClasses = new string[] { "page-link" }
               })
    </div>
</div>
