@model IEnumerable<Vidracaria_Portal.Models.Administrador.Cadastros.TimeModel>

@{ ViewData["title"] = "Sobre";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml"; }

@section Styles{
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        .titulo {
            font-weight: bold;
            letter-spacing: 0.5px;
            font-size: 20px;
        }

        .subtitulo {
            font-weight: 500;
            letter-spacing: 0.5px;
            font-size: 18px;
            margin-top: 8px;
        }
    </style>
}

<section id="hero" style="background: url('../img/Banner/banner4.jpg'); height: 300px;" class="d-flex align-items-center">
</section>

<section id="about" class="about">
    <div class="container">
        <div class="section-title">
            <span>Sobre</span>
            <h2>Sobre</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="~/img/Logo/vidracaria-portal-8494-HWPc.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>Sobre Nós.</h3>
                <p style="text-align: justify;">
                    Nascida na cidade de Barra Bonita, com transparência e qualidade pra você, a vidraçaria Portal está há
                    mais de 7 anos no mercado. Com inteligência e inovação, oferecemos o que tem de melhor ao cliente.
                    Desenvolvendo projetos baseados na modernidade, que compõem o ambiente de forma sofisticada, com o
                    conforto e durabilidade que o cliente procura.
                </p>
            </div>
        </div>

    </div>
</section>

<section class="about">
    <div class="container">
        <div class="section-title">
            <span>Horário de funcionamento</span>
            <h2>Horário de funcionamento</h2>
        </div>
        <div class="row">
            <div class="col-md-12 flex-funcionamento">
                <div class="col-md-4" style="margin-top: 12px; width: 100%;">
                    <ul>
                        <li class="titulo"><i style="margin-right: 8px;" class="far fa-calendar"></i>Segunda-Feira a Sexta-Feira</li>
                        <li class="subtitulo"><i style="margin-right: 8px;" class="far fa-calendar"></i>07:30 às 11:00</li>
                        <li class="subtitulo"><i style="margin-right: 8px;" class="far fa-calendar"></i>14:00 às 17:30</li>
                    </ul>
                </div>
                <div class="col-md-4" style="margin-top: 12px; width: 100%;">
                    <ul>
                        <li class="titulo"><i style="margin-right: 8px;" class="far fa-calendar"></i>Sábado</li>
                        <li class="subtitulo"><i style="margin-right: 8px;" class="far fa-calendar"></i>07:30 às 12:00</li>
                    </ul>
                </div>
                <div class="col-md-4" style="margin-top: 12px; width: 100%;">
                    <ul>
                        <li class="titulo"><i style="margin-right: 8px;" class="far fa-calendar-times"></i>Domingo</li>
                        <li class="subtitulo"><i style="margin-right: 8px;" class="far fa-calendar-times"></i>Fechado</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="team" class="team">
    <div class="container">

        <div class="section-title">
            <span>Nosso Time</span>
            <h2>Nosso Time</h2>
        </div>
        <div class="row">
            @foreach (var time in Model)
            {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="@( System.IO.File.Exists(ViewData["CaminhoImagem"] + "/" + time.Imagem) ?
                                                Url.Content("~/" + time.Imagem) : Url.Content("/imagensSaves/sem_foto.png") )"  alt="">
                        <h4>@(time.NomeTime)</h4>
                        <span style="font-size: 16px; color: #343a40">@(time.Cargo)</span>
                        <div class="social">
                            <a target="_blank" href="@(time.LinkFacebook)"><i style="font-size: 25px;" class="fab fa-facebook"></i></a>
                            <a target="_blank" href="@(time.LinkImagem)"><i style="font-size: 25px;" class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>
@section Scripts{

}