@model X.PagedList.IPagedList<Vidracaria_Portal.Models.Administrador.Cadastros.VidrosComunsModel>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="content">
    <div class="row" style="margin-bottom: 15px; padding-left: 5px;">
        <div class="col-md-12">
            <div class="col-md-6">
                <a asp-action="Create" class="btn btn-outline-danger">Criar Novo</a>
            </div>
            <div class="col-md-6">
                <form asp-controller="VidroComuns" asp-action="Index" method="get" style="margin-top: 12px;">
                    <input style=" border: 1px solid #00008B;" type="text" class="form-control" value="@ViewData["Filtro"]"
                           placeholder="Pesquisar" name="pesquisa" aria-label="" aria-describedby="basic-addon1" />
                    <div class="input-group-append" style="margin-top: 12px;">
                        <button class="btn btn-outline-dark" type="submit">Pesquisar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive" style="margin-left: 20px;">
        <table class="table" style="width: 1500px;">
            <thead class="table-dark">
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Adesivo
                    </th>
                    <th>
                        Pelicula
                    </th>
                    <th>
                        Expessura
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        Estoque Max
                    </th>
                    <th>
                        Estoque Min
                    </th>
                    <th>
                        Preço Venda
                    </th>
                    <th>
                        Preço Fábrica
                    </th>
                    <th>
                        Imagem
                    </th>
                    <th>
                        Data Cadastro
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeVidro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdesivoId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeliculaId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpessuraId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstoqueMaximo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstoqueMinimo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecoVenda)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecoFabrica)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Imagem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCadastro)
                        </td>
                        <td>
                            <a style="margin-right: 10px;" asp-action="Edit" asp-route-id="@item.CodigoVidro"><i class="fas fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.CodigoVidro"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { filtro = ViewData["Filtro"], pagina }),
            new X.PagedList.Web.Common.PagedListRenderOptionsBase
            {
                DisplayLinkToFirstPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
                DisplayLinkToLastPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
                DisplayLinkToNextPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
                DisplayLinkToPreviousPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
                ContainerDivClasses = new[] { "pagination-container" },
                UlElementClasses = new string[] { "pagination justify-content-center" },
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            })
</div>
