@model X.PagedList.IPagedList<Vidracaria_Portal.Models.Administrador.Servicos.AprovadosModel>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Listagem";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

@section Styles{
    <style>
        .wrap {
            text-overflow: ellipsis;
            /* Required for text-overflow to do anything */
            white-space: nowrap;
            overflow: hidden;
            width: 100px;
            max-width: 100px;
        }
    </style>
}

<div class="content">
    <div class="row" style="margin-bottom: 15px; padding-left: 5px;">
        <div class="col-md-12">
            <div class="col-md-6">
                <h4>Listagem dos orçamentos aprovados</h4>
                <form asp-controller="Aprovados" asp-action="Index" method="get" style="margin-top: 12px;">
                    <input style=" border: 1px solid #00008B;" type="text" class="form-control" value="@ViewData["Filtro"]"
                           placeholder="Pesquisar" name="pesquisa" aria-label="" aria-describedby="basic-addon1" />
                    <div class="input-group-append" style="margin-top: 12px;">
                        <button class="btn btn-outline-dark" type="submit">Pesquisar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive" style="margin-left: 20px;">
        <table class="table" style="width: 1500px;">
            <thead class="table-dark">
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Rua
                    </th>
                    <th>
                        N° Casa
                    </th>
                    <th>
                        Cidade
                    </th>
                    <th>
                        Bairro
                    </th>
                    <th>
                        Celular
                    </th>
                    <th>
                        Telefone
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Serviço
                    </th>
                    <th>
                        Data Cadastro
                    </th>
                    <th>Operações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="wrap">
                                @Html.DisplayFor(modelItem => item.Nome)
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rua)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroCasa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bairro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Celular)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoServico.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCadastro)
                        </td>
                        <td>
                            <a style="margin-right: 8px;" asp-action="ConcluirOrcamento" asp-route-id="@item.CodigoAprovado"><i class="fas fa-check"></i></a>
                            <a style="margin-right: 8px;" asp-action="Edit" asp-route-id="@item.CodigoAprovado"><i class="fas fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.CodigoAprovado"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="margin-top: 20px;">
        @Html.PagedListPager(Model, pagina => Url.Action("Index", new { filtro = ViewData["Filtro"], pagina }),
               new X.PagedList.Web.Common.PagedListRenderOptionsBase
               {
                   DisplayLinkToFirstPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
                   DisplayLinkToLastPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
                   DisplayLinkToNextPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
                   DisplayLinkToPreviousPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
                   ContainerDivClasses = new[] { "pagination-container" },
                   UlElementClasses = new string[] { "pagination justify-content-center" },
                   LiElementClasses = new string[] { "page-item" },
                   PageClasses = new string[] { "page-link" }
               })
    </div>
</div>

