@model IEnumerable<Vidracaria_Portal.Models.Administrador.Cadastros.ClientesModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

@section Styles{
    <style>

    </style>
}

<div class="content">
    <div class="row" style="margin-bottom: 15px; padding-left: 5px;">
        <div class="col-md-12">
            <div class="col-md-6">
                <a asp-action="Create" class="btn btn-outline-danger">Criar Novo</a>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
    <div class="table-responsive" style="margin-left: 20px;">
        <table class="table" style="width: 1500px;">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NomeCliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CidadeCliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bairro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroCasa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstadoCliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Celular)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Documento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataCadastro)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CidadeCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bairro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroCasa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstadoCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Celular)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Documento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCadastro)
                        </td>
                        <td>
                            <a style="margin-right: 10px;" asp-action="Edit" asp-route-id="@item.CodigoCliente"><i class="fas fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.CodigoCliente"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
