@model Vidracaria_Portal.Models.Administrador.Cadastros.VidrosTemperadosModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h1>Details</h1>

<div>
    <h4>VidrosTemperadosModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeVidro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeVidro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdesivoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdesivoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeliculaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeliculaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpessuraId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpessuraId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstoqueMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstoqueMaximo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstoqueMinimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstoqueMinimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoFabrica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoFabrica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodigoVidro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
